

  <section class="banner-w3layouts" style="background-color: #0d58e2">
  <div class="container" style="background-color: #0056b3">
    <div class="row banner-w3layouts-grids">
      <div class="col-lg-5 sign-info" >
        <h3>Create Account</h3>
        <p class="para-sign mt-2 mb-4 text-center">Enter your email and password to get sign in.</p>
   <!--****************************************form表单位置*****************************************************-->
        <%= form_with(model: user, local: true) do |form| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <!-- name输入框-->
          <div class="form-group">
            <label><%= form.label :name %>*</label>
            <div class="icon1">
              <%= form.text_field :name %>
            </div>
          </div>
   <!--email输入框-->
          <div class="field">
          </div>
          <div class="form-group">
            <label><%= form.label :email %>*</label>
            <div class="icon1">
              <%= form.text_field :email %>
            </div>
          </div>
          <%= form.submit %>
          <p class="para-sign mt-3">Already have an Account ? <a href="signin.html" class="ml-2"><strong>Sign in to your Account</strong></a></p>
<% end %>
        <!--****************************************************************************************************-->
      </div>
      <div class="col-lg-7 banner-w3layouts-image pl-md-5">
        <div class="effect-w3">
          <img src="images/img.jpg" alt="" class="img-fluid image1">
          <img src="images/img.jpg" alt="" class="img-fluid image2">
          <img src="images/img.jpg" alt="" class="img-fluid image3">
          <img src="images/img.jpg" alt="" class="img-fluid image4">
        </div>

      </div>
    </div>
  </div>
</section>
<!-- //banner-w3layouts -->
<!--/Login-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="login px-4 mx-auto mw-100">
          <h5 class="text-left mb-4">Login Now</h5>
          <form action="#" method="post">
            <div class="form-group">
              <label class="mb-2">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label class="mb-2">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
            <p class="text-left pb-4">
              <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
            </p>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<!--//Login-->
<!--/Register-->
<div class="modal " id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="login px-4 mx-auto mw-100">
          <h5 class="text-left mb-4">Register Now</h5>
          <form action="#" method="post">
            <div class="form-group">
              <label>First name</label>

              <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
            </div>

            <div class="form-group">
              <label class="mb-2">Password</label>
              <input type="password" class="form-control" id="password1" placeholder="" required="">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" id="password2" placeholder="" required="">
            </div>

            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
            <p class="text-left pb-4">
              <a href="#">By clicking Register, I agree to your terms</a>
            </p>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>






<!--/aos -->
<script src="js/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });

</script>
<!--//aos -->
<!--/ start-smoth-scrolling -->
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script>
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });

</script>
<script>
    $(document).ready(function() {
        /*
                    var defaults = {
                        containerID: 'toTop', // fading element id
                      containerHoverID: 'toTopHover', // fading element hover id
                      scrollSpeed: 1200,
                      easingType: 'linear'
                     };
                    */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });

</script>